@import url("style.css");
.bgOverlay {
    background-color: rgba(0, 0, 0, .5);
}

.bgOverlayFull {
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    margin: 10px;
}

.blogDetail .blogContent .bigImages h3.title {
    font-size: 80%;
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
}

.blogDetail .blogContent .meta a {
    font-weight: 600;
}

.whitelogo {
    border: solid 1px #eee
}

.bdL {
    border-left: solid 2px #000;
    padding-left: 20px;
}

.clipHolder {
    background: #3a3a3a;
    position: relative;
    opacity: 0.95;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.clipHolder .iframe {
    height: 70%;
}

.clipHolder h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 15px;
    line-height: 100%;
    filter: none;
}

.clipHolder h3.typeDT {
    color: #f2f2f2;
}

.imgHolder {
    border: solid 1px #DDD;
}

.imgHolder h3 {
    background: rgba(0, 0, 0, .60);
}

.imgHolder h3 a {
    font-weight: bolder
}

.fancyHover {
    overflow: hidden;
    filter: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.fancyHover:hover {
    -webkit-filter: contrast(1.4) saturate(2.8) sepia(.8);
    -moz-filter: contrast(1.4) saturate(2.8) sepia(.8);
    -ms-filter: contrast(1.4) saturate(2.8) sepia(.8);
    -o-filter: contrast(1.4) saturate(2.8) sepia(.8);
    filter: contrast(1.4) saturate(2.8) sepia(.8);
    filter: gray;
}

.fancyHover .fullS.imgLink {
    transform: scale(1.0);
    transition: all 0.2s ease;
}

.fancyHover .fullS.imgLink h3 {
    transform: scale(1.0) rotate(0deg) translate(0px, 0px);
    transition: all 0.2s ease;
}

.fancyHover:hover .fullS.imgLink {
    -ms-transform: scale(1.1) rotate(4deg);
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
    transition: all 3s ease;
}

.fancyHover:hover .fullS.imgLink h3 {
    transform: scale(1.2) rotate(-4deg) translate(30px, -10px);
    -ms-transform: scale(1.2) rotate(-4deg) translate(30px, -10px);
    -webkit-transform: scale(1.2) rotate(-4deg) translate(30px, -10px);
    transition: all 3s ease;
}

.dropdownMenu1 {
    min-width: 300px;
    width: 100%;
}

.dropdownMenu1 li:not(.active) a {
    color: #C5C5C5;
}

.dropdownMenu1 li:not(.active) a:hover {
    color: #09c;
}

.dropdownMenu1 .row {
    padding: 10px 20px 0;
}

.dropdownMenu1 .row.top a span {
    font-size: 15px;
    line-height: 39px;
}

.dropdownMenu1 li:not(.active) a span {
    color: #2a2a2a;
}

.dropdownMenu1 .ico {}

.dropdownMenu1 a.lang {
    font-size: 36px;
    font-weight: 700;
}

.dropdownMenu1 ul.multi-column-dropdown li {
    height: 43px;
}

.dropdownMenu1 .row.top a .ico-holder {
    height: 39px;
    width: 39px;
    float: left;
    margin-right: 8px;
    text-align: center;
}

.smack-animation {
    -webkit-animation: smack-animation 750ms linear both;
    animation: smack-animation 750ms linear both;
}

@-webkit-keyframes smack-animation {
    0% {
        -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.347826% {
        -webkit-transform: matrix3d(0.44443, 0.14748, 0, 0, 0.0964, 0.44443, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.44443, 0.14748, 0, 0, 0.0964, 0.44443, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    8.695652% {
        -webkit-transform: matrix3d(0.80549, 0.26909, 0, 0, 0.17585, 0.80549, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.80549, 0.26909, 0, 0, 0.17585, 0.80549, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    13.043478% {
        -webkit-transform: matrix3d(1.01876, 0.22069, 0, 0, 0.14587, 1.01876, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.01876, 0.22069, 0, 0, 0.14587, 1.01876, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    17.391304% {
        -webkit-transform: matrix3d(1.10308, 0.11388, 0, 0, 0.07577, 1.10308, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.10308, 0.11388, 0, 0, 0.07577, 1.10308, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    21.73913% {
        -webkit-transform: matrix3d(1.10661, 0.0327, 0, 0, 0.0218, 1.10661, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.10661, 0.0327, 0, 0, 0.0218, 1.10661, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    26.086957% {
        -webkit-transform: matrix3d(1.07487, -0.00639, 0, 0, -0.00426, 1.07487, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.07487, -0.00639, 0, 0, -0.00426, 1.07487, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    30.434783% {
        -webkit-transform: matrix3d(1.03812, -0.01685, 0, 0, -0.01123, 1.03812, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.03812, -0.01685, 0, 0, -0.01123, 1.03812, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    34.782609% {
        -webkit-transform: matrix3d(1.0107, -0.01442, 0, 0, -0.00961, 1.0107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.0107, -0.01442, 0, 0, -0.00961, 1.0107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    39.130435% {
        -webkit-transform: matrix3d(0.99577, -0.00869, 0, 0, -0.00579, 0.99577, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99577, -0.00869, 0, 0, -0.00579, 0.99577, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    43.478261% {
        -webkit-transform: matrix3d(0.99078, -0.0038, 0, 0, -0.00253, 0.99078, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99078, -0.0038, 0, 0, -0.00253, 0.99078, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    47.826087% {
        -webkit-transform: matrix3d(0.99154, -0.00083, 0, 0, -0.00055, 0.99154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99154, -0.00083, 0, 0, -0.00055, 0.99154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.173913% {
        -webkit-transform: matrix3d(0.9945, 0.00049, 0, 0, 0.00033, 0.9945, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.9945, 0.00049, 0, 0, 0.00033, 0.9945, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    56.521739% {
        -webkit-transform: matrix3d(0.99747, 0.00078, 0, 0, 0.00052, 0.99747, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99747, 0.00078, 0, 0, 0.00052, 0.99747, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    60.869565% {
        -webkit-transform: matrix3d(0.99951, 0.00062, 0, 0, 0.00041, 0.99951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99951, 0.00062, 0, 0, 0.00041, 0.99951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    65.217391% {
        -webkit-transform: matrix3d(1.00053, 0.00035, 0, 0, 0.00023, 1.00053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00053, 0.00035, 0, 0, 0.00023, 1.00053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    69.565217% {
        -webkit-transform: matrix3d(1.00079, 0.00014, 0, 0, 0.00009, 1.00079, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00079, 0.00014, 0, 0, 0.00009, 1.00079, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    73.913043% {
        -webkit-transform: matrix3d(1.00066, 0.00002, 0, 0, 0.00001, 1.00066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00066, 0.00002, 0, 0, 0.00001, 1.00066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    78.26087% {
        -webkit-transform: matrix3d(1.0004, -0.00003, 0, 0, -0.00002, 1.0004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.0004, -0.00003, 0, 0, -0.00002, 1.0004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    82.608696% {
        -webkit-transform: matrix3d(1.00016, -0.00004, 0, 0, -0.00002, 1.00016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00016, -0.00004, 0, 0, -0.00002, 1.00016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    86.956522% {
        -webkit-transform: matrix3d(1.00001, -0.00003, 0, 0, -0.00002, 1.00001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00001, -0.00003, 0, 0, -0.00002, 1.00001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    91.304348% {
        -webkit-transform: matrix3d(0.99995, -0.00001, 0, 0, -0.00001, 0.99995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99995, -0.00001, 0, 0, -0.00001, 0.99995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    95.652174% {
        -webkit-transform: matrix3d(0.99993, 0, 0, 0, 0, 0.99993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99993, 0, 0, 0, 0, 0.99993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

@keyframes smack-animation {
    0% {
        -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.347826% {
        -webkit-transform: matrix3d(0.44443, 0.14748, 0, 0, 0.0964, 0.44443, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.44443, 0.14748, 0, 0, 0.0964, 0.44443, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    8.695652% {
        -webkit-transform: matrix3d(0.80549, 0.26909, 0, 0, 0.17585, 0.80549, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.80549, 0.26909, 0, 0, 0.17585, 0.80549, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    13.043478% {
        -webkit-transform: matrix3d(1.01876, 0.22069, 0, 0, 0.14587, 1.01876, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.01876, 0.22069, 0, 0, 0.14587, 1.01876, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    17.391304% {
        -webkit-transform: matrix3d(1.10308, 0.11388, 0, 0, 0.07577, 1.10308, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.10308, 0.11388, 0, 0, 0.07577, 1.10308, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    21.73913% {
        -webkit-transform: matrix3d(1.10661, 0.0327, 0, 0, 0.0218, 1.10661, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.10661, 0.0327, 0, 0, 0.0218, 1.10661, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    26.086957% {
        -webkit-transform: matrix3d(1.07487, -0.00639, 0, 0, -0.00426, 1.07487, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.07487, -0.00639, 0, 0, -0.00426, 1.07487, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    30.434783% {
        -webkit-transform: matrix3d(1.03812, -0.01685, 0, 0, -0.01123, 1.03812, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.03812, -0.01685, 0, 0, -0.01123, 1.03812, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    34.782609% {
        -webkit-transform: matrix3d(1.0107, -0.01442, 0, 0, -0.00961, 1.0107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.0107, -0.01442, 0, 0, -0.00961, 1.0107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    39.130435% {
        -webkit-transform: matrix3d(0.99577, -0.00869, 0, 0, -0.00579, 0.99577, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99577, -0.00869, 0, 0, -0.00579, 0.99577, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    43.478261% {
        -webkit-transform: matrix3d(0.99078, -0.0038, 0, 0, -0.00253, 0.99078, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99078, -0.0038, 0, 0, -0.00253, 0.99078, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    47.826087% {
        -webkit-transform: matrix3d(0.99154, -0.00083, 0, 0, -0.00055, 0.99154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99154, -0.00083, 0, 0, -0.00055, 0.99154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.173913% {
        -webkit-transform: matrix3d(0.9945, 0.00049, 0, 0, 0.00033, 0.9945, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.9945, 0.00049, 0, 0, 0.00033, 0.9945, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    56.521739% {
        -webkit-transform: matrix3d(0.99747, 0.00078, 0, 0, 0.00052, 0.99747, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99747, 0.00078, 0, 0, 0.00052, 0.99747, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    60.869565% {
        -webkit-transform: matrix3d(0.99951, 0.00062, 0, 0, 0.00041, 0.99951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99951, 0.00062, 0, 0, 0.00041, 0.99951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    65.217391% {
        -webkit-transform: matrix3d(1.00053, 0.00035, 0, 0, 0.00023, 1.00053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00053, 0.00035, 0, 0, 0.00023, 1.00053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    69.565217% {
        -webkit-transform: matrix3d(1.00079, 0.00014, 0, 0, 0.00009, 1.00079, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00079, 0.00014, 0, 0, 0.00009, 1.00079, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    73.913043% {
        -webkit-transform: matrix3d(1.00066, 0.00002, 0, 0, 0.00001, 1.00066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00066, 0.00002, 0, 0, 0.00001, 1.00066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    78.26087% {
        -webkit-transform: matrix3d(1.0004, -0.00003, 0, 0, -0.00002, 1.0004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.0004, -0.00003, 0, 0, -0.00002, 1.0004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    82.608696% {
        -webkit-transform: matrix3d(1.00016, -0.00004, 0, 0, -0.00002, 1.00016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00016, -0.00004, 0, 0, -0.00002, 1.00016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    86.956522% {
        -webkit-transform: matrix3d(1.00001, -0.00003, 0, 0, -0.00002, 1.00001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00001, -0.00003, 0, 0, -0.00002, 1.00001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    91.304348% {
        -webkit-transform: matrix3d(0.99995, -0.00001, 0, 0, -0.00001, 0.99995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99995, -0.00001, 0, 0, -0.00001, 0.99995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    95.652174% {
        -webkit-transform: matrix3d(0.99993, 0, 0, 0, 0, 0.99993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99993, 0, 0, 0, 0, 0.99993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and ( min--moz-device-pixel-ratio:1.5),
only screen and ( -o-min-device-pixel-ratio:3/2),
only screen and ( min-device-pixel-ratio:1.5),
only screen and ( min-resolution:192dpi),
only screen and ( min-resolution:2dppx) {
    .ico {
        background-image: url(../img/site/spites%402x.png)!important;
        background-size: 553px 168px!important;
        /* This replicates the original standard sprite dimensions,and assumes the actual dimensions of sprite@2x.png are 1000x1000px */
    }
}


/* 2015_01_29 */

@media only screen and (min-width: 992px) {
    header nav ul.navMain li:hover span {
        z-index: 9999;
    }
    header nav ul.navMain li.active span {
        z-index: 999;
    }
}


/* icon gray */

.icoCareerGray {
    background-position: -157px -120px;
    width: 39px;
    height: 39px;
    background-size: auto
}

ul.navMain li.active a i.ico.icoCareerGray,
ul.navMain li a i.ico.icoCareerGray:hover,
ul.navMain li a i.ico.icoCareerGray:focus {
    background-position: -207px -120px;
}

.icoCareerBlue {
    background-position: -207px -120px;
    width: 39px;
    height: 39px;
    background-size: auto
}


/* icon event */

.icoEventGray {
    background-position: -303px -120px;
    width: 39px;
    height: 39px;
    background-size: auto
}

ul.navMain li.active a i.ico.icoEventGray,
ul.navMain li a i.ico.icoEventGray:hover,
ul.navMain li a i.ico.icoEventGray:focus {
    background-position: -259px -120px;
}

.icoEventBlue {
    background-position: -259px -120px;
    width: 39px;
    height: 39px;
    background-size: auto
}

.submenu {
    position: fixed;
    top: 73px;
    margin-left: 15px;
    background-color: #fff;
}
.submenu a {
    color: #333;
}

.submenu ul li:hover a,
.submenu a:hover {
    background-color: #F3FCFF;
    color: #000;
}

#school-sub ul li,
#school-sub ul li a {
    width: 200px;
    height: 50px;
    padding: 0;
    margin: 0;
}

#list-sub {
    width: 180px;
}

#list-sub ul li,
#list-sub ul li a {
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    text-align: center;
}

#list-sub ul li a:hover {

}

#menu_tab {
    background-color: #eee;
}

#menu_tab ul li {
    margin: 0;
    width: 100%;
    height: 52px;
    display: block;
    border-right: solid #efefef 1px;
    border-bottom: solid #efefef 1px;
    font-weight: bold;
    font-size: 19px;
}

#menu_tab ul {
    padding: 0;
    height: 100%;
}

#menu_tab ul li a {
    border-radius: 0;
    height: 100%;
    color: #2a2a2a;
    background-color: #fff;
}

#menu_tab {
    padding: 0;
}

#menu_tab ul li.active a {
    margin-left: 8px;
    background-color: #09c;
    color: #fff;
    border-right: none;
    width: 100%;
}

#menu_tab ul li.active a i {
    visibility: visible;
}

#menu_tab ul li a i {
    visibility: hidden;
}

#menu_tab ul li:hover a {
    background-color: #f3fcff;
}

#menu_tab ul li.active:hover a {
    background-color: #09c;
    color: #fff;
}
.img_link_label{
    
}
.link_list{
    padding-top: 10px;
    padding-left: 20px;  
}
.link_list li{
    display: inline-block;
    width: 80px;
    padding-top: 18px;
}
.link_list li a{
    display: inline;
}
.link_list li a img{
    display:block;
    margin-left: auto;
    margin-right: auto; 
    width: 40px;
    height: 40px;
}
.link_list li a div{
    color: #7F7F7F;
    text-align: center;
}

.searchHolder{
}
#careers-banner .fullS.imgLink {
    background-image: url('../img/search/banner.png');
    background-size: cover; 
}