@import "bootstrap.min.css";
@font-face {
    font-family: 'VNFQuicksandRegular';
    src: url('../fonts/vnf-quicksandbook.eot');
    src: url('../fonts/vnf-quicksandbook.eot') format('embedded-opentype'), url('../fonts/vnf-quicksandbook.woff') format('woff'), url('../fonts/vnf-quicksandbook.ttf') format('truetype'), url('../fonts/vnf-quicksandbook.svg#VNFQuicksandRegular') format('svg');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    letter-spacing: -1.5px;
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

:focus {
    outline: 0
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(../js/boxsizing.html);
    line-height: normal
}

html {
    height: 100%
}

body {
    font: 21px 'VNFQuicksandRegular', sans-serif;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    color: #7d7d7d;
    background: #EEEEEE;
}

body.changeBg {
    background: #eee
}

a {
    text-decoration: none
}

button {
    border: 0;
    cursor: pointer;
    font-weight: 700;
    color: #fff;
    margin: 0;
    padding: 0
}

input,
textarea {
    border: 0;
    padding: 0;
    margin: 0;
    border: solid 1px #c7c7c7;
    color: #000;
    font: 21px 'VNFQuicksandRegular', sans-serif
}

select,
.cp {
    cursor: pointer
}

.clear {
    clear: both
}

li {
    margin-bottom: 5px
}

::selection {
    background: #407087;
    color: #fff
}

::-moz-selection {
    background: #407087;
    color: #fff
}

.page-break {
    page-break-before: always
}

.rounded5 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.rounded5T {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 5px
}

.rounded10 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.rounded15 {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px
}

.rounded15T {
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 15px
}

.rounded15B {
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 0
}

.rounded50p {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.bs1 {
    -webkit-box-shadow: 0 0 15px #c3c3c3;
    -moz-box-shadow: 0 0 15px #c3c3c3;
    box-shadow: 0 0 15px #c3c3c3
}

.bs2 {
    -webkit-box-shadow: 0 0 5px #1e6090;
    -moz-box-shadow: 0 0 5px #1e6090;
    box-shadow: 0 0 5px #1e6090
}

textarea {
    resize: vertical
}

.fl {
    float: left
}

.fr {
    float: right
}

.pa3 {
    padding: 3px
}

.pa5 {
    padding: 5px
}

.pa6 {
    padding: 6px
}

.pa7 {
    padding: 7px
}

.pa10 {
    padding: 10px
}

.pa13 {
    padding: 13px
}

.pa15 {
    padding: 15px
}

.pa20 {
    padding: 20px
}

.pa25 {
    padding: 25px
}

.pa30 {
    padding: 30px
}

.pa35 {
    padding: 35px
}

.pt1 {
    padding-top: 1px
}

.pt2 {
    padding-top: 2px
}

.pt3 {
    padding-top: 3px
}

.pt4 {
    padding-top: 4px
}

.pt5 {
    padding-top: 5px
}

.pt6 {
    padding-top: 6px
}

.pt10 {
    padding-top: 10px
}

.pt15 {
    padding-top: 15px
}

.pt20 {
    padding-top: 20px
}

.pt25 {
    padding-top: 25px
}

.pt30 {
    padding-top: 30px
}

.pt35 {
    padding-top: 35px
}

.pt40 {
    padding-top: 40px
}

.pr5 {
    padding-right: 5px
}

.pr10 {
    padding-right: 10px
}

.pr15 {
    padding-right: 15px
}

.pr20 {
    padding-right: 20px
}

.pr25 {
    padding-right: 25px
}

.pb0 {
    padding-bottom: 0
}

.pb5 {
    padding-bottom: 5px
}

.pb7 {
    padding-bottom: 7px
}

.pb10 {
    padding-bottom: 10px
}

.pb12 {
    padding-bottom: 12px
}

.pb15 {
    padding-bottom: 15px
}

.pb17 {
    padding-bottom: 17px
}

.pb20 {
    padding-bottom: 20px
}

.pb21 {
    padding-bottom: 21px
}

.pb22 {
    padding-bottom: 22px
}

.pb30 {
    padding-bottom: 30px
}

.pb40 {
    padding-bottom: 40px
}

.pb60 {
    padding-bottom: 60px
}

.pl4 {
    padding-left: 4px
}

.pl5 {
    padding-left: 5px
}

.pl10 {
    padding-left: 10px
}

.pl15 {
    padding-left: 15px
}

.pl20 {
    padding-left: 20px
}

.pl25 {
    padding-left: 25px
}

.pl35 {
    padding-left: 35px
}

.ph5 {
    padding-left: 5px;
    padding-right: 5px
}

.ph7 {
    padding-left: 7px;
    padding-right: 7px
}

.ph10 {
    padding-left: 10px;
    padding-right: 10px
}

.ph15 {
    padding-left: 15px;
    padding-right: 15px
}

.ph20,
.ph20H:hover,
.ph20A.active {
    padding-left: 20px;
    padding-right: 20px
}

.ph23 {
    padding-left: 23px;
    padding-right: 23px
}

.ph25 {
    padding-left: 25px;
    padding-right: 25px
}

.ph30 {
    padding-left: 30px;
    padding-right: 30px
}

.ph35 {
    padding-left: 35px;
    padding-right: 35px
}

.pv3 {
    padding-top: 3px;
    padding-bottom: 3px
}

.pv5 {
    padding-top: 5px;
    padding-bottom: 5px
}

.pv7 {
    padding-top: 7px;
    padding-bottom: 7px
}

.pv10 {
    padding-top: 10px;
    padding-bottom: 10px
}

.pv12 {
    padding-top: 12px;
    padding-bottom: 12px
}

.pv15 {
    padding-top: 15px;
    padding-bottom: 15px
}

.pv20 {
    padding-top: 20px;
    padding-bottom: 20px
}

.pv25 {
    padding-top: 25px;
    padding-bottom: 25px
}

.pv35 {
    padding-top: 35px;
    padding-bottom: 35px
}

.ma5 {
    margin: 5px
}

.ma10 {
    margin: 10px
}

.ma12 {
    margin: 12px
}

.ma15 {
    margin: 15px
}

.ma20 {
    margin: 20px
}

.mt1 {
    margin-top: 1px
}

.mt2 {
    margin-top: 2px
}

.mt3 {
    margin-top: 3px
}

.mt4 {
    margin-top: 4px
}

.mt5 {
    margin-top: 5px
}

.mt6 {
    margin-top: 6px
}

.mt7 {
    margin-top: 7px
}

.mt8 {
    margin-top: 8px
}

.mt9 {
    margin-top: 9px
}

.mt10 {
    margin-top: 10px
}

.mt12 {
    margin-top: 12px
}

.mt15 {
    margin-top: 15px
}

.mt20 {
    margin-top: 20px
}

.mt28 {
    margin-top: 28px
}

.mt30 {
    margin-top: 30px
}

.mt35 {
    margin-top: 35px
}

.mt40 {
    margin-top: 40px
}

.mr1 {
    margin-right: 1px
}

.mr3 {
    margin-right: 3px
}

.mr5 {
    margin-right: 5px
}

.mr8 {
    margin-right: 8px
}

.mr10 {
    margin-right: 10px
}

.mr15 {
    margin-right: 15px
}

.mr18 {
    margin-right: 18px
}

.mr20 {
    margin-right: 20px
}

.mr25 {
    margin-right: 25px
}

.mr30 {
    margin-right: 30px
}

.mr40 {
    margin-right: 40px
}

.mb1 {
    margin-bottom: 1px
}

.mb3 {
    margin-bottom: 3px
}

.mb5 {
    margin-bottom: 5px
}

.mb7 {
    margin-bottom: 7px
}

.mb8 {
    margin-bottom: 8px
}

.mb10 {
    margin-bottom: 10px
}

.mb12 {
    margin-bottom: 12px
}

.mb15 {
    margin-bottom: 15px
}

.mb20 {
    margin-bottom: 20px
}

.mb25 {
    margin-bottom: 25px
}

.mb30 {
    margin-bottom: 30px
}

.mb35 {
    margin-bottom: 35px
}

.mb40 {
    margin-bottom: 40px
}

.mb50 {
    margin-bottom: 50px
}

.ml1 {
    margin-left: 1px
}

.ml3 {
    margin-left: 3px
}

.ml5 {
    margin-left: 5px
}

.ml7 {
    margin-left: 7px
}

.ml10 {
    margin-left: 10px
}

.ml15 {
    margin-left: 15px
}

.ml18 {
    margin-left: 18px
}

.ml20 {
    margin-left: 20px
}

.ml25 {
    margin-left: 25px
}

.ml30 {
    margin-left: 30px
}

.ml40 {
    margin-left: 40px
}

.mh2 {
    margin-left: 2px;
    margin-right: 2px
}

.mh3 {
    margin-left: 3px;
    margin-right: 3px
}

.mh5 {
    margin-left: 5px;
    margin-right: 5px
}

.mh10 {
    margin-left: 10px;
    margin-right: 10px
}

.mh12 {
    margin-left: 12px;
    margin-right: 12px
}

.mh15 {
    margin-left: 15px;
    margin-right: 15px
}

.mh20 {
    margin-left: 20px;
    margin-right: 20px
}

.mh30 {
    margin-left: 30px;
    margin-right: 30px
}

.mha {
    margin-left: auto;
    margin-right: auto
}

.mv5 {
    margin-top: 5px;
    margin-bottom: 5px
}

.mv10 {
    margin-top: 10px;
    margin-bottom: 10px
}

.mv15 {
    margin-top: 15px;
    margin-bottom: 15px
}

.mv20 {
    margin-top: 20px;
    margin-bottom: 20px
}

.mv30 {
    margin-top: 30px;
    margin-bottom: 30px
}

.fwl {
    font-weight: 300
}

.fwn {
    font-weight: 400
}

.fwsb {
    font-weight: 600
}

.fwb,
.fwbH:hover,
.fwbA.active {
    font-weight: 700
}

.fwxb {
    font-weight: 800
}

.fsi {
    font-style: italic
}

.tac {
    text-align: center
}

.tal {
    text-align: left
}

.tar {
    text-align: right
}

.taj {
    text-align: justify
}

.ttu {
    text-transform: uppercase
}

.ttc {
    text-transform: capitalize
}

.tdu,
.tduH:hover {
    text-decoration: underline
}

.tdn {
    text-decoration: none
}

.ti9 {
    text-indent: -9999px
}

.tsd {
    text-shadow: 1px 1px 0 #999
}

.dpn {
    display: none
}

.dpb {
    display: block
}

.dpi {
    display: inline
}

.dpib {
    display: inline-block
}

.dpc {
    display: table-cell
}

.vam {
    vertical-align: middle
}

.por {
    position: relative
}

.poa {
    position: absolute
}

.pof {
    position: fixed
}

.ofh {
    overflow: hidden
}

.ofa {
    overflow: auto
}

.ofyh {
    overflow-y: hidden!important
}

.ofys {
    overflow-y: scroll
}

.ofya {
    overflow-y: auto
}

.vh {
    visibility: hidden!important
}

.clear {
    width: 0;
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    overflow: hidden
}

.clearfix:after {
    line-height: 0;
    width: 0;
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    content: ' '
}

.clearfix {
    display: block
}

* HTML .clearfix {
    height: 1%
}

.hide {
    display: none
}

.parentHide:hover .hide,
.parentHide.active .hide {
    display: inline-block
}

.hideClk {
    display: none
}

.prHideClk.active .hideClk {
    display: inline-block
}

.bd1 {
    border: solid 1px #000
}

.bd3,
.bd3F:focus {
    border: solid 1px #fff
}

.bd3T {
    border-top: solid 1px #fff
}

.bd3B {
    border-bottom: solid 1px #fff
}

.noBd {
    border: 0!important
}

.bd0,
.bd0F:focus {
    border: solid 1px transparent
}

.bd0T {
    border-top: 0
}

.bd0B {
    border-bottom: 0
}

.bd2W {
    border-width: 2px
}

.bd3W {
    border-width: 3px
}

.bd4W {
    border-width: 4px
}

.bd5W {
    border-width: 5px
}

.firstBD:first-child {
    border-top: 0
}

.fs9 {
    font-size: 9px
}

.fs10 {
    font-size: 10px
}

.fs11 {
    font-size: 11px
}

.fs12 {
    font-size: 12px
}

.fs13 {
    font-size: 13px
}

.fs14 {
    font-size: 14px
}

.fs15 {
    font-size: 15px
}

.fs16 {
    font-size: 16px
}

.fs17 {
    font-size: 17px
}

.fs18 {
    font-size: 18px
}

.fs20 {
    font-size: 20px
}

.fs22 {
    font-size: 22px
}

.fs24 {
    font-size: 24px
}

.fs26 {
    font-size: 26px
}

.fs28 {
    font-size: 28px
}

.fs30 {
    font-size: 30px
}

.fs32 {
    font-size: 32px
}

.fs34 {
    font-size: 34px
}

.fs36 {
    font-size: 36px
}

.fs40 {
    font-size: 40px
}

.fs44 {
    font-size: 44px
}

.fs50 {
    font-size: 50px
}

.fs60 {
    font-size: 60px
}

.bg1,
.bg1H:hover {
    background: #000
}

.bg2,
.bg2H:hover {
    background: #3a3a3a
}

.bg4 {
    background: #d4d6d6
}

.bg3 {
    background: #fff
}

.bgc {
    background-position: center
}

.bg0 {
    background: 0
}

.cf0,
.cf0H:hover,
.cf0A.active {
    color: #000
}

.cf1 {
    color: #2a2a2a
}

.cf3 {
    color: #fff
}

.cf3,
.cf3H:hover,
.cf3A.active {
    color: #fff
}

.ls2 {
    letter-spacing: 2px
}

.ls3 {
    letter-spacing: 3.5px
}

::-webkit-input-placeholder {
    color: #999
}

:-moz-placeholder {
    color: #999
}

::-moz-placeholder {
    color: #999
}

:-ms-input-placeholder {
    color: #999
}

.ts1 {
    text-shadow: 1px 1px 1px #b1b8bd
}

.ts2 {
    text-shadow: 1px 1px 5px #000
}

.l0 {
    left: 0
}

.l50p {
    left: 50%
}

.r0 {
    right: 0
}

.b0 {
    bottom: 0
}

.t0 {
    top: 0
}

.t50p {
    top: 50%
}

.zI0 {
    z-index: 0
}

.zI1 {
    z-index: 1
}

.zI2 {
    z-index: 2
}

.zI3 {
    z-index: 3
}

.zI4 {
    z-index: 4
}

.zI-1 {
    z-index: -1
}

.w100p {
    width: 100%
}

.ico {
    background: url(../img/site/spites.png) no-repeat;
    display: inline-block
}

.icoLogoGray {
    background-position: -1px -1px;
    width: 27px;
    height: 42px
}

.icoAddr {
    background-position: -29px -1px;
    width: 25px;
    height: 27px
}

.icoPhone {
    background-position: -56px -2px;
    width: 28px;
    height: 28px
}

.icoFb {
    background-position: -87px -2px;
    width: 15px;
    height: 26px
}

.icoTw {
    background-position: -158px -3px;
    width: 28px;
    height: 23px
}

.icoIn {
    background-position: -129px -2px;
    width: 26px;
    height: 25px
}

.icoGg {
    background-position: -104px -3px;
    width: 23px;
    height: 23px
}

.icoPin {
    background-position: -242px -5px;
    width: 18px;
    height: 22px
}

.icoBe {
    background-position: -263px -3px;
    width: 25px;
    height: 18px
}

.icoPlay {
    background-position: -214px -2px;
    width: 25px;
    height: 18px
}

.icoWeb {
    background-position: -290px -3px;
    width: 20px;
    height: 20px
}

.icoSkype {
    background-position: -312px -1px;
    width: 23px;
    height: 23px
}

.icoLogoWhite {
    background-position: -0px -45px;
    width: 37px;
    height: 47px
}

.icoMail {
    background-position: -188px -2px;
    width: 24px;
    height: 16px
}

.icoMobile {
    background-position: -3px -95px;
    width: 24px;
    height: 42px
}

.icoGlobal {
    background-position: -30px -115px;
    width: 40px;
    height: 40px
}

.icoSketchGray {
    background-position: -227px -37px;
    width: 32px;
    height: 32px
}

.icoSketchBlue {
    background-position: -227px -78px;
    width: 32px;
    height: 32px
}

.icoMobileGray {
    background-position: -266px -33px;
    width: 22px;
    height: 40px
}

.icoMobileBlue {
    background-position: -266px -76px;
    width: 22px;
    height: 40px
}

.icoChipGray {
    background-position: -290px -33px;
    width: 41px;
    height: 41px
}

.icoChipBlue {
    background-position: -290px -77px;
    width: 41px;
    height: 41px
}

.icoSpeakerGray {
    background-position: -333px -32px;
    width: 43px;
    height: 43px
}

.icoSpeakerBlue {
    background-position: -333px -73px;
    width: 43px;
    height: 43px
}

.icoToolGray {
    background-position: -378px -33px;
    width: 39px;
    height: 39px
}

.icoToolBlue {
    background-position: -378px -75px;
    width: 39px;
    height: 39px
}

.icoPenWhite {
    background-position: -111px -115px;
    width: 38px;
    height: 38px
}

.icoArrUpWhite {
    background-position: -421px -33px;
    width: 38px;
    height: 38px
}

.icoScope {
    background-position: -337px -2px;
    width: 22px;
    height: 22px
}

.icoSearchDoc{
    background-position: -467px -35px;
    width: 38px;
    height: 39px
}

.lsd {
    list-style: disc
}

.fullS {
    background-size: cover!important;
    background-position: center;
    background-repeat: no-repeat
}

header {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 999;
    margin-bottom: 10px
}

header nav ul.navMain {
    float: left;
    position: relative
}

header nav ul.navMain li {
    float: left;
    margin: 15px 40px 0 20px
}

header nav ul.navMain li:hover span,
header nav ul.navMain li.active span {
    display: block
}

header nav ul.navMain li a,
header nav .navContact {
    display: block;
}

header nav ul.navMain span {
    position: absolute;
    right: -90px;
    top: 24px;
    color: #09c;
    display: none;
    background: #fff;
    padding-left: 20px
}

header nav ul.navMain span.longText {
    right: -128px
}

header nav .logo {
    float: left;
    background: #09c;
    width: 72px;
    height: 72px;
    display: block;
    text-align: center;
    margin-left: -63px
}

header nav .logo .ico {
    margin-top: 10px
}

header nav .navContact {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    position: relative
}

header nav .navContact:hover span,
header nav .navContact.active span {
    display: none
}

header nav .navContact span {
    display: none;
    position: absolute;
    top: 7px;
    right: 47px;
    color: #09c
}

header nav ul.subNav li {
    float: left
}

header nav ul.subNav a.lang {
    font-size: 36px;
    margin-right: 20px;
    margin-top: 13px;
    display: inline-block;
    color: #c5c5c5;
    font-weight: 700
}

header nav ul.subNav a.lang:hover,
header nav ul.subNav a.lang.active {
    color: #09c
}

header .searchTop {
    float: right;
    position: relative;
    padding-right: 30px;
    background: #eee;
    width: 250px;
    margin-top: 15px;
    margin-right: 20px;
}

header .searchTop .form-control {
    background: none;
    height: 40px;
}

header .searchTop button {
    background: none;
    position: absolute;
    right: 10px;
    top: 8px;
}

.noBs {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.noBr {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.r50p {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.noPadding {
    padding: 0!important;
    margin: 0!important
}

.noPd {
    padding: 0!important
}

.noBd {
    border: 0!important
}

a:hover,
a:focus,
.btn:hover,
.btn:focus {
    text-decoration: none;
    ouline: 0
}

[class*="col-"] {
    padding-left: 7.5px;
    padding-right: 7.5px
}

.form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
    font-size: 16px;
    height: 30px;
    padding: 6px 9px
}

.form-control:hover {
    color: #333
}

.isotope:after {
    content: '';
    display: block;
    clear: both
}

.item {
    float: left;
    width: 300px;
    height: 300px;
    padding: 10px
}

.item .itemHolder {
    width: 280px;
    height: 280px
}

.itemHolder {
    overflow: auto;
    background: #fff;
}

.item.width2 {
    width: 600px
}

.item.width2 .itemHolder,
.item.width2 .bgOverlayFull {
    width: 580px
}

.item.width2 .textHolder {
    padding: 4.3%
}

.item.width2 .introHolder {
    padding: 8.5%
}

.item.width3 {
    width: 900px
}

.item.width3 .itemHolder,
.item.width3 .bgOverlayFull {
    width: 880px
}

.item.width4 {
    width: 1200px
}

.item.width4 .itemHolder,
.item.width4 .bgOverlayFull {
    width: 1180px
}

.item.height2 {
    height: 600px
}

.item.height2 .itemHolder,
.item.height2 .bgOverlayFull {
    height: 580px
}

.changeBg .itemHolder {
    background: #fff
}

.textHolder {
    padding: 8.5%
}

.textHolder * {
    z-index: 3;
    position: relative;
}

.textHolder .big {
    font-size: 70px
}

.textHolder blockquote p {
    margin-bottom: 10px
}

.textHolder blockquote footer {
    color: #2a2a2a;
    font-weight: 700;
    margin-top: 20px
}

.textHolder blockquote footer:after {
    content: '\2014 \00A0'
}

.textHolder address strong {
    font-size: 28px;
    color: #2a2a2a;
    margin-bottom: 20px
}

.textHolder address p {
    width: 100%;
    margin-bottom: 15px;
    float: left;
    position: relative
}

.textHolder address .icoHolder {
    position: absolute;
    left: 0
}

.textHolder address .text {
    padding-left: 45px;
    display: block
}

.textHolder .socialLinks {
    margin-top: 20px
}

.textHolder .socialLinks li {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.textHolder .socialLinks li a {
    color: #7d7d7d;
}

.textHolder .socialLinks li a:hover {
    color: #333;
}

.textHolder .socialLinks li .icoHolder {
    float: left;
    width: 27px;
    position: relative;
}

.textHolder .profileInfos p {
    width: 100%;
    margin-bottom: 15px;
    float: left;
    position: relative
}

.textHolder .profileInfos .icoHolder {
    position: absolute;
    left: 0
}

.textHolder .profileInfos .text {
    padding-left: 35px;
    color: #7d7d7d
}

.imgHolder {
    position: relative;
    display: block;
    opacity: .95;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}

.imgHolder:hover {
    opacity: 1
}

.imgHolder .imgLink {
    width: 100%;
    height: 100%;
    display: block
}

.imgHolder h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 20px;
    line-height: 25px;
    background: rgba(0, 0, 0, .5);
    filter: none;
}

.imgHolder h3.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px 65px 20px 20px;
}

.imgHolder h3.type2 {
    background: #eee
}

.imgHolder h3.type2 a {
    color: #7c7c7c
}

.imgHolder h3 a {
    color: #fff
}

.imgHolder .icoHolder {
    height: 65px;
    width: 65px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #4f4f4f;
    text-align: center;
    display: block;
    z-index: 1
}

.imgHolder .icoHolder .ico {
    margin-top: 12px
}

.logoHolder {
    background: #09c;
    text-align: center
}

.logoHolder img {
    display: inline-block;
    margin-top: 20px;
    width: 210px;
    height: 225px;
}
.mixedLogoHolder,
.mixedLogoHolder a{
    background: #09c;
    color: #fff;
    text-align: center;
}

.mixedLogoHolder img{
    margin-top: 20px;
    width: 120px;
    height: 120px;
}

.blogNav {
    margin-top: 25px;
}

.blogNav a {
    color: #7d7d7d;
}

.blogNav a:hover span,
.blogNav a.active span {
    color: #7d7d7d;
    font-weight: bold;
}

.blogNav .icoHolder {
    float: left;
    width: 41px;
    text-align: center;
    margin-right: 10px;
}

.blogNav .ico {
    display: inline-block;
}

.blogNav li {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.blogNav .text {
    margin-top: 5px;
    display: inline-block;
}

.blogDetail {
    background: #fff;
    margin: 10px
}

.blogDetail .bigImages {
    margin-bottom: 15px
}

.blogDetail .bigImages img {
    max-width: 100%
}

.blogDetail .blogContent {
    color: #333;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px
}

.blogDetail .blogContent h2.title {
    font-size: 40px;
    margin-bottom: 10px;
    padding-top: 15px
}

.blogDetail .blogContent .meta {
    color: #7d7d7d;
    margin-bottom: 30px
}

.blogDetail .blogStory h1,
.blogDetail .blogStory h2,
.blogDetail .blogStory h3,
.blogDetail .blogStory h4,
.blogDetail .blogStory h5,
.blogDetail .blogStory h6 {
    margin-bottom: 15px;
    margin-top: 15px;
    line-height: 1.4em;
    font-weight: 400
}

.blogDetail .blogStory h1 a,
.blogDetail .blogStory h2 a,
.blogDetail .blogStory h3 a,
.blogDetail .blogStory h4 a,
.blogDetail .blogStory h5 a,
.blogDetail .blogStory h6 a {
    color: #191919
}

.blogDetail .blogStory h1 a:hover,
.blogDetail .blogStory h2 a:hover,
.blogDetail .blogStory h3 a:hover,
.blogDetail .blogStory h4 a:hover,
.blogDetail .blogStory h5 a:hover,
.blogDetail .blogStory h6 a:hover {
    color: #f12e2e
}

.blogDetail h1 {
    font-size: 48px
}

.blogDetail h2 {
    font-size: 40px
}

.blogDetail h3 {
    font-size: 32px
}

.blogDetail h4 {
    font-size: 26px
}

.blogDetail h5 {
    font-size: 22px
}

.blogDetail h6 {
    font-size: 18px
}

.blogDetail p {
    line-height: 1.4;
    margin-bottom: 10px
}

.blogDetail a {
    color: #333
}

.challengeHolder {
    padding: 1.5%;
    text-align: center
}

.challengeHolder .apiText {
    font-size: 44px;
    color: #0f0;
    background: #333;
    padding: 1% 5%;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    margin-top: 3.5%;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto
}

#map {
    width: 280px;
    height: 280px
}

.contactFormHolder .form-group {
    margin-bottom: 8px
}

.contactFormHolder .form-control {
    font-size: 14px;
    background: #eee;
}

.contactFormHolder .btn {
    color: #2a2a2a
}

.scrollTop {
    background-color: #09c;
    padding: 5px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
    font-size: 0;
    z-index: 10;
    opacity: 1;
    display: none;
}

.scrollTop:hover {
    opacity: 0.7;
}

@media only screen and (min-width: 320px) {
    header {
        position: relative;
        background: #fff;
    }
    main {
        padding-top: 0px;
    }
    .icoLogoWhite {
        background-position: -0px -45px;
        width: 37px;
        height: 47px;
        background-size: auto
    }
    .icoGroupGray {
        background-position: -35px -32px;
        width: 39px;
        height: 39px;
        background-size: auto
    }
    .icoGroupBlue {
        background-position: -35px -74px;
        width: 39px;
        height: 39px;
        background-size: auto
    }
    .icoBulbGray {
        background-position: -78px -32px;
        width: 36px;
        height: 39px;
        background-size: auto
    }
    .icoBulbBlue {
        background-position: -78px -74px;
        width: 36px;
        height: 39px;
        background-size: auto
    }
    .icoPenGray {
        background-position: -111px -33px;
        width: 39px;
        height: 39px;
        background-size: auto
    }
    .icoPenBlue {
        background-position: -111px -75px;
        width: 39px;
        height: 39px;
        background-size: auto
    }
    .icoCupCfGray {
        background-position: -150px -32px;
        width: 39px;
        height: 39px;
        background-size: auto
    }
    .icoCupCfBlue {
        background-position: -150px -74px;
        width: 39px;
        height: 39px;
        background-size: auto
    }
    .icoBookGray {
        background-position: -191px -32px;
        width: 33px;
        height: 39px;
        background-size: auto
    }
    .icoBookBlue {
        background-position: -191px -74px;
        width: 33px;
        height: 39px;
        background-size: auto
    }
    header nav ul.navMain li {
        margin: 20px -3px 0 10px;
    }
    header nav ul.navMain li .ico,
    header nav .navContact .ico {
        transform: scale(0.7);
    }
    header nav ul.navMain li:hover span,
    header nav ul.navMain li.active span {
        display: none
    }
    header nav ul.navMain li:hover .icoGroupGray,
    header nav ul.navMain li.active .icoGroupGray {
        background-position: -35px -74px;
        width: 39px;
        height: 39px;
        background-size: auto
    }
    header nav ul.navMain li:hover .icoBulbGray,
    header nav ul.navMain li.active .icoBulbGray {
        background-position: -78px -74px;
        width: 36px;
        height: 39px;
        background-size: auto
    }
    header nav ul.navMain li:hover .icoPenGray,
    header nav ul.navMain li.active .icoPenGray {
        background-position: -111px -75px;
        width: 39px;
        height: 39px;
        background-size: auto
    }
    header nav ul.navMain li:hover .icoCupCfGray,
    header nav ul.navMain li.active .icoCupCfGray {
        background-position: -150px -74px;
        width: 39px;
        height: 39px;
        background-size: auto
    }
    header nav .navContact:hover .icoBookGray,
    header nav .navContact.active .icoBookGray {
        background-position: -191px -74px;
        width: 33px;
        height: 39px;
        background-size: auto
    }
    header nav ul.navMain .submenu {
        display: none;
    }
    header nav ul.navMain li:hover .submenu,
    header nav ul.navMain li.active .submenu {
        display: block;
    }
    header nav ul.navMain li:hover .submenu ul li,
    header nav ul.navMain li.active .submenu ul li {
        font-size: 15px;
    }
    header nav ul.navMain .submenu:hover,
    header nav ul.navMain li:hover .submenu:hover,
    header nav ul.navMain li.active .submenu:hover {
        display: block;
    }
    header nav .logo {
        margin-left: 10px
    }
    header nav .navContact {
        margin-top: 20px
    }
    header nav .navContact:hover span {
        display: none
    }
    .item.width2,
    .item.width3,
    .item.width4 {
        width: 300px
    }
    .item.width2 .itemHolder,
    .item.width3 .itemHolder,
    .item.width4 .itemHolder,
    .item.width2 .bgOverlayFull,
    .item.width3 .bgOverlayFull,
    .item.width4 .bgOverlayFull {
        width: 280px
    }
    .item.height2 {
        height: 300px
    }
    .item.height2 .itemHolder,
    .item.height2 .bgOverlayFull {
        height: 280px
    }
    .container {
        padding-left: 10px;
        padding-right: 10px;
        width: 320px
    }
    .textHolder .big,
    .textHolder .fs60 {
        font-size: 30px
    }
    .textHolder address {
        font-size: 18px
    }
    .textHolder address strong {
        margin-bottom: 0;
        font-size: 20px
    }
    .textHolder address .icoHolder {}
    .textHolder address .text {
        width: 100%
    }
    .textHolder address br {
        display: none
    }
    .contactFormHolder .form-control {
        margin-bottom: 5px;
    }
}

@media only screen and (min-width: 768px) {
    header {
        position: fixed;
        width: 100%;
        background: #fff;
        z-index: 5;
        margin-bottom: 10px
    }
    main {
        padding-top: 80px;
    }
    header nav ul.navMain li {
        margin: 0;
        height: 73px;
        width: 90px;
    }
    header nav ul.navMain li .ico,
    header nav .navContact .ico {
        transform: scale(1);
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
    }
    header nav .logo {}
    header nav .navContact {
        margin-top: 15px
    }
    header nav .navContact:hover span {
        display: block
    }
    .submenu ul li {
        margin: 0;
        padding: 0;
        width: 34%;
    }
    .item.width2,
    .item.width4 {
        width: 600px
    }
    .item.width2 .itemHolder,
    .item.width4 .itemHolder {
        width: 580px
    }
    .item.width3 {
        width: 600px
    }
    .item.width3 .itemHolder {
        width: 580px
    }
    .item.height2 {
        height: 600px
    }
    .item.height2 .itemHolder {
        height: 580px
    }
    .item.width-sm-1 {
        width: 300px;
    }
    .item.width-sm-1 .itemHolder {
        width: 280px;
    }
    .item.height-sm-1 {
        height: 300px;
    }
    .item.height-sm-1 .itemHolder {
        height: 280px;
    }
    .item.width-sm-1 .textHolder .big {
        font-size: 30px;
    }
    .container {
        width: 630px;
        padding-left: 15px;
        padding-right: 15px
    }
    .textHolder .big {
        font-size: 70px
    }
    .textHolder .fs60 {
        font-size: 60px;
    }
    .textHolder address {
        font-size: 21px
    }
    .textHolder address strong {
        margin-bottom: 15px;
        font-size: 28px
    }
    .textHolder address .icoHolder {
        display: block
    }
    .textHolder address .text {
        width: 91%
    }
    .textHolder address br {
        display: block
    }
}

@media only screen and (min-width: 992px) {
    header nav ul.navMain li:hover span,
    header nav ul.navMain li.active span {
        display: block
    }
    header nav .navContact:hover span,
    header nav .navContact.active span {
        display: block
    }
        .submenu ul li {
        margin: 0;
        padding: 0;
        width: 34%;
    }
    .item.width3,
    .item.width4 {
        width: 900px
    }
    .item.width3 .itemHolder,
    .item.width4 .itemHolder {
        width: 880px
    }
    .item.width-sm-1 {
        width: 600px;
    }
    .item.width-sm-1 .itemHolder {
        width: 580px;
    }
    .item.height-sm-1 {
        height: 600px;
    }
    .item.height-sm-1 .itemHolder {
        height: 580px;
    }
    .item.width-sm-1 .textHolder .big {
        font-size: 70px;
    }
    .container {
        width: 930px
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 930px
    }
}

@media only screen and (min-width: 1250px) {
    .item.width4 {
        width: 1200px
    }
    .item.width4 .itemHolder {
        width: 1180px
    }
    .container {
        width: 1230px
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        width: 1230px
};
}

@media only screen and (min-width: 1350px) {
    header nav .logo {
        margin-left: -63px;
    }
}

.help-block {
    font-size: 13px;
}

.qr.itemHolder {
    border: none;
}

.qr.itemHolder .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EEEEEE;
    opacity: 1;
    transition: all .2s;
    -o-transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
}

.qr.itemHolder .overlay .inner {
    width: 50%;
    margin: 100px auto;
    font-weight: 700;
    font-size: 1.4em;
    color: #FFFFFF;
}

.qr.itemHolder:hover .overlay {
    opacity: .1;
}

.qr.language-list li {
    display: inline-block;
    border: 1px dotted rgba(100, 100, 100, .1);
    padding: 5px;
    width: 35px;
    height: 35px;
}

.qr.thank-qoute {
    text-align: center;
    text-transform: uppercase;
}

.qr.dance-stage {
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.qr.dancer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.qr.dancer img {
    height: 100%;
}

.rtl {
    direction: rtl;
}

.rotate180 {
display: inline-block;
/* Safari */
-webkit-transform: rotate(-180deg);

/* Firefox */
-moz-transform: rotate(-180deg);

/* IE */
-ms-transform: rotate(-180deg);

/* Opera */
-o-transform: rotate(-180deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}